docs/build/*
docs/.DS_Store
test/node_modules
test/resourceGroup/results/*
test/resourceGroup/providers.tf
test/resourceGroup/package.json
test/resourceGroup/package-lock.json
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform/*
.DS_Store
.venv/*